In [1]:
import pandas as pd
import numpy as np

Fonte de dados: http://dadosabertos.mec.gov.br/images/conteudo/pnp/2020/microdados_eficiencia_academica_2020.zip

In [2]:
df1 = pd.read_csv(
    filepath_or_buffer='dataset/mec/microdados_eficiencia_academica_2018.csv',
    sep=None,
    encoding = "ISO-8859-9"
)
len(df1)

374037

Fonte de dados: http://dadosabertos.mec.gov.br/images/conteudo/pnp/2019/microdados-eficiencia-academica.zip

In [3]:
df2 = pd.read_csv(
    filepath_or_buffer='dataset/mec/microdados_eficiencia_academica_2020.csv',
    sep=None)
len(df2)

338848

## Recortando linhas do conjunto de dados

In [4]:
df1_r = df1[:1000]
len(df1_r)

1000

In [5]:
df1_r = df1[300:1000]
len(df1_r)

700

In [6]:
df1_r = df1[300000:]
len(df1_r)

74037

In [7]:
df1

,Sexo,Código da Matrícula,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo,Vagas Ofertadas,Total de Inscritos,...,Fator de Esforço de Curso,Código da Unidade de Ensino - SISTEC,Unidade de Ensino,Código do Município com DV,Município,Instituição,UF,Microrregião,Mesorregião,Região
0,F,65730988,01/09/2015,CONCLUÍDA,Conclusão,19/02/2016,01/09/2015,30/06/2017,35.0,0,...,1,2811,Campus Boa Vista,1400100,Boa Vista,IFRR,RR,Boa Vista,Norte de Roraima,Região Norte
1,M,83074878,01/08/2017,CONCLUÍDA,Conclusão,01/12/2017,29/08/2017,14/12/2017,NaN,15,...,1,42733,Campus Avançado Ilha Solteira,3520442,Ilha Solteira,IFSP,SP,Andradina,Araçatuba,Região Sudeste
2,F,65730960,01/09/2015,CONCLUÍDA,Conclusão,19/12/2016,01/09/2015,30/06/2017,35.0,0,...,1,2811,Campus Boa Vista,1400100,Boa Vista,IFRR,RR,Boa Vista,Norte de Roraima,Região Norte
3,F,53355589,01/02/2013,DESLIGADA,Evasão,01/12/2013,27/02/2013,22/12/2017,40.0,1423,...,"1,21",2830,Campus Concórdia,4204301,Concórdia,IFC,SC,Concórdia,Oeste Catarinense,Região Sul
4,M,53355613,01/02/2013,DESLIGADA,Evasão,01/12/2016,27/02/2013,22/12/2017,40.0,1423,...,"1,21",2830,Campus Concórdia,4204301,Concórdia,IFC,SC,Concórdia,Oeste Catarinense,Região Sul
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374032,M,67296601,01/04/2016,CONCLUÍDA,Conclusão,28/12/2018,01/04/2016,19/10/2017,40.0,89,...,"1,1",13013,Campus João Câmara,2405801,João Câmara,IFRN,RN,Baixa Verde,Agreste Potiguar,Região Nordeste
374033,M,58590658,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,"1,21",3009,Campus Campos Centro,3301009,Campos dos Goytacazes,IFF,RJ,Campos dos Goytacazes,Norte Fluminense,Região Sudeste
374034,F,58590668,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,"1,21",3009,Campus Campos Centro,3301009,Campos dos Goytacazes,IFF,RJ,Campos dos Goytacazes,Norte Fluminense,Região Sudeste
374035,M,71423535,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,"1,25",31962,Campus Avançado Astorga,4102109,Astorga,IFPR,PR,Astorga,Norte Central Paranaense,Região Sul
374036,F,71423533,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,"1,25",31962,Campus Avançado Astorga,4102109,Astorga,IFPR,PR,Astorga,Norte Central Paranaense,Região Sul

### Remove os mil últimos

In [8]:
df1_r = df1[: -1000]
df1_r

,Sexo,Código da Matrícula,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo,Vagas Ofertadas,Total de Inscritos,...,Fator de Esforço de Curso,Código da Unidade de Ensino - SISTEC,Unidade de Ensino,Código do Município com DV,Município,Instituição,UF,Microrregião,Mesorregião,Região
0,F,65730988,01/09/2015,CONCLUÍDA,Conclusão,19/02/2016,01/09/2015,30/06/2017,35.0,0,...,1,2811,Campus Boa Vista,1400100,Boa Vista,IFRR,RR,Boa Vista,Norte de Roraima,Região Norte
1,M,83074878,01/08/2017,CONCLUÍDA,Conclusão,01/12/2017,29/08/2017,14/12/2017,NaN,15,...,1,42733,Campus Avançado Ilha Solteira,3520442,Ilha Solteira,IFSP,SP,Andradina,Araçatuba,Região Sudeste
2,F,65730960,01/09/2015,CONCLUÍDA,Conclusão,19/12/2016,01/09/2015,30/06/2017,35.0,0,...,1,2811,Campus Boa Vista,1400100,Boa Vista,IFRR,RR,Boa Vista,Norte de Roraima,Região Norte
3,F,53355589,01/02/2013,DESLIGADA,Evasão,01/12/2013,27/02/2013,22/12/2017,40.0,1423,...,"1,21",2830,Campus Concórdia,4204301,Concórdia,IFC,SC,Concórdia,Oeste Catarinense,Região Sul
4,M,53355613,01/02/2013,DESLIGADA,Evasão,01/12/2016,27/02/2013,22/12/2017,40.0,1423,...,"1,21",2830,Campus Concórdia,4204301,Concórdia,IFC,SC,Concórdia,Oeste Catarinense,Região Sul
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373032,F,58303457,01/05/2013,CONCLUÍDA,Conclusão,01/05/2017,13/05/2013,31/01/2017,80.0,72,...,"1,07",2870,Campus Marechal Deodoro,2704708,Marechal Deodoro,IFAL,AL,Maceió,Leste Alagoano,Região Nordeste
373033,F,58303451,01/05/2013,CONCLUÍDA,Conclusão,01/05/2017,13/05/2013,31/01/2017,80.0,72,...,"1,07",2870,Campus Marechal Deodoro,2704708,Marechal Deodoro,IFAL,AL,Maceió,Leste Alagoano,Região Nordeste
373034,M,65745158,01/10/2015,CONCLUÍDA,Conclusão,01/04/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373035,M,65745184,01/10/2015,CONCLUÍDA,Conclusão,01/08/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373036,F,65745140,01/10/2015,CONCLUÍDA,Conclusão,01/05/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste

### Pega apenas os mil últimos

In [9]:

df1_r = df1[-1000:]
df1_r

,Sexo,Código da Matrícula,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo,Vagas Ofertadas,Total de Inscritos,...,Fator de Esforço de Curso,Código da Unidade de Ensino - SISTEC,Unidade de Ensino,Código do Município com DV,Município,Instituição,UF,Microrregião,Mesorregião,Região
373037,F,65745190,01/10/2015,CONCLUÍDA,Conclusão,01/12/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373038,F,65745192,01/10/2015,CONCLUÍDA,Conclusão,01/05/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373039,M,65745144,01/10/2015,CONCLUÍDA,Conclusão,01/05/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373040,F,65745188,01/10/2015,CONCLUÍDA,Conclusão,01/12/2017,15/10/2015,31/10/2017,80.0,0,...,"1,1",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
373041,M,65745716,01/10/2015,CONCLUÍDA,Conclusão,01/02/2017,15/10/2015,31/10/2017,50.0,0,...,"1,25",32002,Campus Viçosa,2709400,Viçosa,IFAL,AL,Serrana dos Quilombos,Leste Alagoano,Região Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374032,M,67296601,01/04/2016,CONCLUÍDA,Conclusão,28/12/2018,01/04/2016,19/10/2017,40.0,89,...,"1,1",13013,Campus João Câmara,2405801,João Câmara,IFRN,RN,Baixa Verde,Agreste Potiguar,Região Nordeste
374033,M,58590658,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,"1,21",3009,Campus Campos Centro,3301009,Campos dos Goytacazes,IFF,RJ,Campos dos Goytacazes,Norte Fluminense,Região Sudeste
374034,F,58590668,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,"1,21",3009,Campus Campos Centro,3301009,Campos dos Goytacazes,IFF,RJ,Campos dos Goytacazes,Norte Fluminense,Região Sudeste
374035,M,71423535,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,"1,25",31962,Campus Avançado Astorga,4102109,Astorga,IFPR,PR,Astorga,Norte Central Paranaense,Região Sul
374036,F,71423533,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,"1,25",31962,Campus Avançado Astorga,4102109,Astorga,IFPR,PR,Astorga,Norte Central Paranaense,Região Sul

In [10]:
df1_r = df1[:1000] + df1[300000:]
len(df1_r)

75037

## Deletando linhas do conjunto de dados

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [11]:
df = pd.DataFrame(np.arange(20).reshape(5, 4),

                  columns=['A', 'B', 'C', 'D'])

df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [12]:
dfr = df.drop([0, 2], axis=0)
dfr

    A   B   C   D
1   4   5   6   7
3  12  13  14  15
4  16  17  18  19

In [13]:
dfr = df.drop([0, 2])
dfr

    A   B   C   D
1   4   5   6   7
3  12  13  14  15
4  16  17  18  19

## Deletando linhas do conjunto de dados

In [14]:
dfr = df.drop(columns=['A', 'D'])
dfr

    B   C
0   1   2
1   5   6
2   9  10
3  13  14
4  17  18

In [15]:
dfr = df.drop(['A', 'D'], axis=1)
dfr

    B   C
0   1   2
1   5   6
2   9  10
3  13  14
4  17  18

## Deletando linhas e colunas do conjunto de dados

In [16]:
col = ['A', 'D']
idx = [0, 2]
dfr = df.drop(columns=col, index=idx)
dfr

    B   C
1   5   6
3  13  14
4  17  18

## Alterando Nomes de colunas

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [17]:
df1.dtypes

Sexo                                     object
Código da Matrícula                       int64
Data de Ocorrência da Matrícula          object
Situação da Matrícula                    object
Categoria da Situação                    object
Mês de Ocorrência da Situação            object
Data de Início do Ciclo                  object
Data de Fim Previsto do Ciclo            object
Vagas Ofertadas                         float64
Total de Inscritos                        int64
Fonte de Financiamento                   object
Carga Horária do Curso                    int64
Carga Horária Mínima Regulamentada      float64
Eixo Tecnológico                         object
Subeixo Tecnológico                      object
Modalidade de Ensino                     object
Tipo de Curso                            object
Tipo de Oferta                           object
Nome do Curso                            object
Fator de Esforço de Curso                object
Código da Unidade de Ensino - SISTEC      int64
Unidade de Ensino                        object
Código do Município com DV                int64
Município                                object
Instituição                              object
UF                                       object
Microrregião                             object
Mesorregião                              object
Região                                   object
dtype: object

In [18]:
df1 = df1.rename(columns={"Código da Matrícula": "cmdf1"})
df2 = df2.rename(columns={"Código da Matricula": "cmdf2"})

In [19]:
df1.dtypes

Sexo                                     object
cmdf1                                     int64
Data de Ocorrência da Matrícula          object
Situação da Matrícula                    object
Categoria da Situação                    object
Mês de Ocorrência da Situação            object
Data de Início do Ciclo                  object
Data de Fim Previsto do Ciclo            object
Vagas Ofertadas                         float64
Total de Inscritos                        int64
Fonte de Financiamento                   object
Carga Horária do Curso                    int64
Carga Horária Mínima Regulamentada      float64
Eixo Tecnológico                         object
Subeixo Tecnológico                      object
Modalidade de Ensino                     object
Tipo de Curso                            object
Tipo de Oferta                           object
Nome do Curso                            object
Fator de Esforço de Curso                object
Código da Unidade de Ensino - SISTEC      int64
Unidade de Ensino                        object
Código do Município com DV                int64
Município                                object
Instituição                              object
UF                                       object
Microrregião                             object
Mesorregião                              object
Região                                   object
dtype: object

## Juntando conjuntos de dados
* left
* right
* outer
* inner

In [20]:
result = pd.merge(
    left=df1,
    right=df2,
    left_on='cmdf1',
    right_on='cmdf2',
    how='left'
)
result

,Sexo_x,cmdf1,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação_x,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo_x,Vagas Ofertadas_x,Total de Inscritos_x,...,Vagas Extraordinárias l9,Vagas Regulares AC,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l1,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,F,65730988,01/09/2015,CONCLUÍDA,Conclusão,19/02/2016,01/09/2015,30/06/2017,35.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M,83074878,01/08/2017,CONCLUÍDA,Conclusão,01/12/2017,29/08/2017,14/12/2017,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F,65730960,01/09/2015,CONCLUÍDA,Conclusão,19/12/2016,01/09/2015,30/06/2017,35.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F,53355589,01/02/2013,DESLIGADA,Evasão,01/12/2013,27/02/2013,22/12/2017,40.0,1423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,53355613,01/02/2013,DESLIGADA,Evasão,01/12/2016,27/02/2013,22/12/2017,40.0,1423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374032,M,67296601,01/04/2016,CONCLUÍDA,Conclusão,28/12/2018,01/04/2016,19/10/2017,40.0,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374033,M,58590658,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374034,F,58590668,01/11/2013,EM_CURSO,Retidos,01/11/2013,01/11/2013,31/07/2017,30.0,730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374035,M,71423535,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374036,F,71423533,01/02/2017,EM_CURSO,Retidos,01/02/2017,06/02/2017,22/12/2017,40.0,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
result = pd.merge(
    left=df1,
    right=df2,
    left_on='cmdf1',
    right_on='cmdf2',
    how='right'
)
result

,Sexo_x,cmdf1,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação_x,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo_x,Vagas Ofertadas_x,Total de Inscritos_x,...,Vagas Extraordinárias l9,Vagas Regulares AC,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l1,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,10.0,0.0,0.0,0.0,4.0,1.0,4.0,1.0,0.0

In [22]:
result = pd.merge(
    left=df1,
    right=df2,
    left_on='cmdf1',
    right_on='cmdf2',
    how='outer'
)
result

,Sexo_x,cmdf1,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação_x,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo_x,Vagas Ofertadas_x,Total de Inscritos_x,...,Vagas Extraordinárias l9,Vagas Regulares AC,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l1,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,F,65730988.0,01/09/2015,CONCLUÍDA,Conclusão,19/02/2016,01/09/2015,30/06/2017,35.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M,83074878.0,01/08/2017,CONCLUÍDA,Conclusão,01/12/2017,29/08/2017,14/12/2017,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F,65730960.0,01/09/2015,CONCLUÍDA,Conclusão,19/12/2016,01/09/2015,30/06/2017,35.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F,53355589.0,01/02/2013,DESLIGADA,Evasão,01/12/2013,27/02/2013,22/12/2017,40.0,1423.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,53355613.0,01/02/2013,DESLIGADA,Evasão,01/12/2016,27/02/2013,22/12/2017,40.0,1423.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,10.0,0.0,0.0,0.0,4.0,1.0,4.0,1.0,0.0

In [23]:
result = pd.merge(
    left=df1,
    right=df2,
    left_on='cmdf1',
    right_on='cmdf2',
    how='inner'
)
result

,Sexo_x,cmdf1,Data de Ocorrência da Matrícula,Situação da Matrícula,Categoria da Situação_x,Mês de Ocorrência da Situação,Data de Início do Ciclo,Data de Fim Previsto do Ciclo_x,Vagas Ofertadas_x,Total de Inscritos_x,...,Vagas Extraordinárias l9,Vagas Regulares AC,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l1,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,M,61752382,01/05/2014,DESLIGADA,Evasão,01/08/2014,05/05/2014,05/05/2017,1.0,441,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,F,61752386,01/05/2014,DESLIGADA,Evasão,01/10/2015,05/05/2014,05/05/2017,1.0,441,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,M,54979997,01/03/2013,DESLIGADA,Evasão,01/02/2018,04/03/2013,21/12/2017,30.0,344,...,0.0,14.0,0.0,0.0,0.0,2.0,6.0,2.0,6.0,0.0
3,M,54979999,01/03/2013,CONCLUÍDA,Conclusão,01/02/2018,04/03/2013,21/12/2017,30.0,344,...,0.0,14.0,0.0,0.0,0.0,2.0,6.0,2.0,6.0,0.0
4,M,61752246,01/05/2014,CONCLUÍDA,Conclusão,01/07/2017,05/05/2014,05/05/2017,1.0,441,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,M,61764392,01/03/2014,CONCLUÍDA,Conclusão,01/07/2017,03/02/2014,30/08/2017,160.0,429,...,0.0,80.0,0.0,0.0,0.0,11.0,30.0,11.0,28.0,0.0
457,M,61764390,01/03/2014,INTEGRALIZADA,Conclusão,01/05/2017,03/02/2014,30/08/2017,160.0,429,...,0.0,80.0,0.0,0.0,0.0,11.0,30.0,11.0,28.0,0.0
458,M,61764384,01/03/2014,INTEGRALIZADA,Conclusão,01/05/2017,03/02/2014,30/08/2017,160.0,429,...,0.0,80.0,0.0,0.0,0.0,11.0,30.0,11.0,28.0,0.0
459,M,61764378,01/03/2014,CONCLUÍDA,Conclusão,01/07/2017,03/02/2014,30/08/2017,160.0,429,...,0.0,80.0,0.0,0.0,0.0,11.0,30.0,11.0,28.0,0.0
460,F,61764376,01/03/2014,CONCLUÍDA,Conclusão,01/10/2017,03/02/2014,30/08/2017,160.0,429,...,0.0,80.0,0.0,0.0,0.0,11.0,30.0,11.0,28.0,0.0

Leitura complementar sobre junção de dados:

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html



Leitura complementar sobre manipulação de listas (Base importante neste momento):

https://www.treinaweb.com.br/blog/manipulando-listas-no-python/

#### Atividades de Fixação