## Primeiros Ajustes nos Dados

In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic2.csv',
    sep=None,
    header=None,
    names=['a', 'b'])
df

<ipython-input-2-3e630c29b0ca>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(

              a      b
0          data  valor
1    01/06/1986   1,27
2    01/07/1986   1,95
3    01/08/1986   2,57
4    01/09/1986   2,94
..          ...    ...
412  01/09/2020   0,16
413  01/10/2020   0,16
414  01/11/2020   0,15
415  01/12/2020   0,16
416  01/01/2021   0,13

[417 rows x 2 columns]

In [3]:
df.dtypes

a    object
b    object
dtype: object

In [4]:
df['a'] = pd.to_datetime(df['a'])
df

ParserError: Unknown string format: data

In [5]:
busca = [str(i) for i in list(range(0, 10))] + ['/']
busca

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '/']

In [6]:
linhas = []
for i in df.a.tolist():
    if not any(ch in i for ch in busca):
        linhas.append(i)
linhas

['data']

In [8]:
filtro = df.a.isin(linhas)

In [9]:
df[filtro]

      a      b
0  data  valor

In [10]:
idx = df.index[filtro].tolist()
idx

[0]

In [11]:
df = df.drop(index=idx)

In [12]:
df

              a     b
1    01/06/1986  1,27
2    01/07/1986  1,95
3    01/08/1986  2,57
4    01/09/1986  2,94
5    01/10/1986  1,96
..          ...   ...
412  01/09/2020  0,16
413  01/10/2020  0,16
414  01/11/2020  0,15
415  01/12/2020  0,16
416  01/01/2021  0,13

[416 rows x 2 columns]

In [13]:
df['a'] = pd.to_datetime(df['a'])
df

             a     b
1   1986-01-06  1,27
2   1986-01-07  1,95
3   1986-01-08  2,57
4   1986-01-09  2,94
5   1986-01-10  1,96
..         ...   ...
412 2020-01-09  0,16
413 2020-01-10  0,16
414 2020-01-11  0,15
415 2020-01-12  0,16
416 2021-01-01  0,13

[416 rows x 2 columns]

In [14]:
df['b'] = df.b.str.replace(',', '.')
df

             a     b
1   1986-01-06  1.27
2   1986-01-07  1.95
3   1986-01-08  2.57
4   1986-01-09  2.94
5   1986-01-10  1.96
..         ...   ...
412 2020-01-09  0.16
413 2020-01-10  0.16
414 2020-01-11  0.15
415 2020-01-12  0.16
416 2021-01-01  0.13

[416 rows x 2 columns]

In [15]:
df['b'] = pd.to_numeric(df['b'])
df

ValueError: Unable to parse string "em um arquivo grande isso nÃ£o Ã© facil de encontrar" at position 166

In [14]:
busca = [str(i) for i in list(range(0, 10))] + ['.']
busca

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.']

In [15]:
linhas = []
for i in df.b.tolist():
    if not any(ch in i for ch in busca):
        linhas.append(i)
linhas

['em um arquivo grande isso nÃ£o Ã© facil de encontrar', 'nao registrado']

In [16]:
df[(df.b.isin(linhas))]

             a                                                  b
167 2000-01-04  em um arquivo grande isso nÃ£o Ã© facil de encon...
309 2012-01-02                                     nao registrado

In [37]:
idx = df.index[df.b.isin(linhas)].tolist()
idx

[167, 309]

In [38]:
df = df.drop(index=idx)

In [39]:
df['b'] = pd.to_numeric(df['b'])
df

ValueError: Unable to parse string "Ficou abaixo de 1." at position 249

In [17]:
busca = list(string.ascii_letters) # Lista de caracteres

In [18]:
busca

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [45]:
linhas = []
for i in df.b.tolist():
    if any(ch in i for ch in busca):
        linhas.append(i)
linhas

['Ficou abaixo de 1.', '1.07y', 'nem sempre o dado ajuda.']

In [46]:
df[(df.b.isin(linhas))]

             a                         b
251 2007-01-04        Ficou abaixo de 1.
266 2008-01-07                     1.07y
272 2009-01-01  nem sempre o dado ajuda.

In [48]:
df.replace('1.07y', '1.07', inplace=True)

In [49]:
df[(df.b.isin(linhas))]

             a                         b
251 2007-01-04        Ficou abaixo de 1.
272 2009-01-01  nem sempre o dado ajuda.

In [50]:
idx = df.index[df.b.isin(linhas)].tolist()
idx

[251, 272]

In [51]:
df = df.drop(index=idx)

In [52]:
df['b'] = pd.to_numeric(df['b'])
df

             a     b
1   1986-01-06  1.27
2   1986-01-07  1.95
3   1986-01-08  2.57
4   1986-01-09  2.94
5   1986-01-10  1.96
..         ...   ...
412 2020-01-09  0.16
413 2020-01-10  0.16
414 2020-01-11  0.15
415 2020-01-12  0.16
416 2021-01-01  0.13

[412 rows x 2 columns]

In [53]:
df.dtypes

a    datetime64[ns]
b           float64
dtype: object