### Bibliotecas de leitura csv, xls, xlsx

* os.read
* xlrd
* openpyxl
* pandas

In [1]:
import pandas as pd

#### Método 1 - Leitura direta

In [11]:
df = pd.read_excel('dataset/sample.xlsx')
df

       ds  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0    0.90       24        60   110    70   820     54   1   1  49  13.7
1    0.91       60       135   110    60   830     57   1   0  30   9.0
2    0.89      135       165   100   120   780     57   1   0  18   7.3
3    0.83      165       192   110    80   810     59   1   0  13   6.0
4    1.53       15        40   840    10   150     46   1   2  18   3.5
..    ...      ...       ...   ...   ...   ...    ...  ..  ..  ..   ...
129  0.72       94       137    20   130   850     49   6  31  68  15.1
130  0.78      137       190    20   130   860     50   5  17  51   8.1
131  0.73        0        15    30   150   820     47  37  27  80  27.9
132  0.95        0        20    80   110   810     48   3  19  89  22.3
133  0.84       20        40    70    90   840     48   2  14  71  16.1

[134 rows x 11 columns]

#### Método 2 - Leitura com seleção de planilha

In [12]:
df = pd.read_excel('dataset/sample.xlsx', 'p1')
df

       ds  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0    0.90       24        60   110    70   820     54   1   1  49  13.7
1    0.91       60       135   110    60   830     57   1   0  30   9.0
2    0.89      135       165   100   120   780     57   1   0  18   7.3
3    0.83      165       192   110    80   810     59   1   0  13   6.0
4    1.53       15        40   840    10   150     46   1   2  18   3.5
..    ...      ...       ...   ...   ...   ...    ...  ..  ..  ..   ...
129  0.72       94       137    20   130   850     49   6  31  68  15.1
130  0.78      137       190    20   130   860     50   5  17  51   8.1
131  0.73        0        15    30   150   820     47  37  27  80  27.9
132  0.95        0        20    80   110   810     48   3  19  89  22.3
133  0.84       20        40    70    90   840     48   2  14  71  16.1

[134 rows x 11 columns]

In [13]:
df = pd.read_excel('dataset/sample.xlsx', 'p2')
df

    ds2  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0  0.90       24        60   110    70   820     54   1   1  49  13.7
1  0.91       60       135   110    60   830     57   1   0  30   9.0
2  0.89      135       165   100   120   780     57   1   0  18   7.3
3  0.83      165       192   110    80   810     59   1   0  13   6.0
4  1.53       15        40   840    10   150     46   1   2  18   3.5
5  1.44       40        65   820    20   160     46   1   2  12   2.5