## Bibliotecas de leitura csv, xls, xlsx, ods e json

* os
* xlrd
* openpyxl
* pandas

In [1]:
import pandas as pd

## Leitura xls, xlsx, xlsm, xlsb, odf, ods e odt

![Pasta de Trabalho Base](dataset/sample_xlsx.png)

#### Método 1 - Leitura direta

In [11]:
df = pd.read_excel('dataset/sample.xlsx')
df

       ds  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0    0.90       24        60   110    70   820     54   1   1  49  13.7
1    0.91       60       135   110    60   830     57   1   0  30   9.0
2    0.89      135       165   100   120   780     57   1   0  18   7.3
3    0.83      165       192   110    80   810     59   1   0  13   6.0
4    1.53       15        40   840    10   150     46   1   2  18   3.5
..    ...      ...       ...   ...   ...   ...    ...  ..  ..  ..   ...
129  0.72       94       137    20   130   850     49   6  31  68  15.1
130  0.78      137       190    20   130   860     50   5  17  51   8.1
131  0.73        0        15    30   150   820     47  37  27  80  27.9
132  0.95        0        20    80   110   810     48   3  19  89  22.3
133  0.84       20        40    70    90   840     48   2  14  71  16.1

[134 rows x 11 columns]

#### Método 2 - Leitura com seleção de planilha

In [12]:
df = pd.read_excel('dataset/sample.xlsx', 'p1')
df

       ds  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0    0.90       24        60   110    70   820     54   1   1  49  13.7
1    0.91       60       135   110    60   830     57   1   0  30   9.0
2    0.89      135       165   100   120   780     57   1   0  18   7.3
3    0.83      165       192   110    80   810     59   1   0  13   6.0
4    1.53       15        40   840    10   150     46   1   2  18   3.5
..    ...      ...       ...   ...   ...   ...    ...  ..  ..  ..   ...
129  0.72       94       137    20   130   850     49   6  31  68  15.1
130  0.78      137       190    20   130   860     50   5  17  51   8.1
131  0.73        0        15    30   150   820     47  37  27  80  27.9
132  0.95        0        20    80   110   810     48   3  19  89  22.3
133  0.84       20        40    70    90   840     48   2  14  71  16.1

[134 rows x 11 columns]

In [13]:
df = pd.read_excel('dataset/sample.xlsx', 'p2')
df

    ds2  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0  0.90       24        60   110    70   820     54   1   1  49  13.7
1  0.91       60       135   110    60   830     57   1   0  30   9.0
2  0.89      135       165   100   120   780     57   1   0  18   7.3
3  0.83      165       192   110    80   810     59   1   0  13   6.0
4  1.53       15        40   840    10   150     46   1   2  18   3.5
5  1.44       40        65   820    20   160     46   1   2  12   2.5

In [3]:
df = pd.read_excel('dataset/sample.xlsx', 'p3')
df

,Cabeçalho inútil,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,ds2,hzdepup,hzdeplow,sand,silt,clay,phh2o,sb,al,h,corg
1,0.9,24,60,110,70,820,54,1,1,49,13.7
2,0.91,60,135,110,60,830,57,1,0,30,9
3,0.89,135,165,100,120,780,57,1,0,18,7.3
4,0.83,165,192,110,80,810,59,1,0,13,6
5,1.53,15,40,840,10,150,46,1,2,18,3.5
6,1.44,40,65,820,20,160,46,1,2,12,2.5

In [25]:
df = pd.read_excel(
    io='dataset/sample.xlsx', 
    sheet_name='p3',
    header=1
    )
df

    ds2  hzdepup  hzdeplow  sand  silt  clay  phh2o  sb  al   h  corg
0  0.90       24        60   110    70   820     54   1   1  49  13.7
1  0.91       60       135   110    60   830     57   1   0  30   9.0
2  0.89      135       165   100   120   780     57   1   0  18   7.3
3  0.83      165       192   110    80   810     59   1   0  13   6.0
4  1.53       15        40   840    10   150     46   1   2  18   3.5
5  1.44       40        65   820    20   160     46   1   2  12   2.5

In [6]:
df = pd.read_excel(
    io='dataset/sample.xlsx', 
    sheet_name='p3',
    header=1,
    names=['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
    )
df

      a    b    c    d    f    g   h  i  j   k     l
0  0.90   24   60  110   70  820  54  1  1  49  13.7
1  0.91   60  135  110   60  830  57  1  0  30   9.0
2  0.89  135  165  100  120  780  57  1  0  18   7.3
3  0.83  165  192  110   80  810  59  1  0  13   6.0
4  1.53   15   40  840   10  150  46  1  2  18   3.5
5  1.44   40   65  820   20  160  46  1  2  12   2.5

#### Leitura da internet

In [38]:
df = pd.read_excel(
    io='https://www.gov.br/inpi/pt-br/acesso-a-informacao/dados-abertos/conjuntos-corporativos-de-dados-abertos/pedidos-de-patentes-pendentes-de-decisao-final/pedidos-de-patentes-pendentes-de-decisao-final-cgrec.xlsx')
df

,Nº DO PEDIDO,DIVISÃO TÉCNICA DE ORIGEM,DATA DO DEPÓSITO,DESPACHO DE ENTRADA NA 2ª INSTÂNCIA,DATA DO DESPACHO
0,PI0312962,DIALP,2003-07-25,12.2,2015-01-13
1,PI0515591,DIALP,2005-09-23,12.2,2016-03-22
2,PI0417592,DIALP,2004-12-14,12.2,2016-12-06
3,PI0516936,DIALP,2005-09-06,12.2,2016-12-06
4,PI0502582,DIALP,2005-03-28,12.2,2017-03-07
...,...,...,...,...,...
5912,PI0418302,DITEX,2004-01-01,17.1,2016-02-23
5913,PI0516625,DITEX,2005-10-18,17.1,2017-06-06
5914,PI0819516,DITEX,2008-12-19,17.1,2020-03-10
5915,PI0918391,DITEX,2009-12-21,17.1,2020-09-29
5916,PI0916201,DITEX,2009-07-22,17.1,2020-10-06

## Leitura de CSV

In [10]:
df = pd.read_csv('dataset/bcb/selic.csv')
df

              data;"valor"
01/06/1986;"1          27"
01/07/1986;"1          95"
01/08/1986;"2          57"
01/09/1986;"2          94"
01/10/1986;"1          96"
...                    ...
01/09/2020;"0          16"
01/10/2020;"0          16"
01/11/2020;"0          15"
01/12/2020;"0          16"
01/01/2021;"0          13"

[416 rows x 1 columns]

Separador padrão esperado é ","

In [13]:
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic.csv',
    sep=';')
df

           data valor
0    01/06/1986  1,27
1    01/07/1986  1,95
2    01/08/1986  2,57
3    01/09/1986  2,94
4    01/10/1986  1,96
..          ...   ...
411  01/09/2020  0,16
412  01/10/2020  0,16
413  01/11/2020  0,15
414  01/12/2020  0,16
415  01/01/2021  0,13

[416 rows x 2 columns]

In [18]:
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic.csv',
    sep=None)
df

           data valor
0    01/06/1986  1,27
1    01/07/1986  1,95
2    01/08/1986  2,57
3    01/09/1986  2,94
4    01/10/1986  1,96
..          ...   ...
411  01/09/2020  0,16
412  01/10/2020  0,16
413  01/11/2020  0,15
414  01/12/2020  0,16
415  01/01/2021  0,13

[416 rows x 2 columns]

In [26]:
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic.csv',
    sep=None,
    header=None)
df

              0      1
0          data  valor
1    01/06/1986   1,27
2    01/07/1986   1,95
3    01/08/1986   2,57
4    01/09/1986   2,94
..          ...    ...
412  01/09/2020   0,16
413  01/10/2020   0,16
414  01/11/2020   0,15
415  01/12/2020   0,16
416  01/01/2021   0,13

[417 rows x 2 columns]

In [27]:
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic.csv',
    sep=None,
    header=0,
    names=['a', 'b'])
df

              a     b
0    01/06/1986  1,27
1    01/07/1986  1,95
2    01/08/1986  2,57
3    01/09/1986  2,94
4    01/10/1986  1,96
..          ...   ...
411  01/09/2020  0,16
412  01/10/2020  0,16
413  01/11/2020  0,15
414  01/12/2020  0,16
415  01/01/2021  0,13

[416 rows x 2 columns]

## Leitura de JSON

In [33]:
df = pd.read_json(
    path_or_buf='dataset/bcb/selic.json')
df

           data  valor
0    01/06/1986   1.27
1    01/07/1986   1.95
2    01/08/1986   2.57
3    01/09/1986   2.94
4    01/10/1986   1.96
..          ...    ...
411  01/09/2020   0.16
412  01/10/2020   0.16
413  01/11/2020   0.15
414  01/12/2020   0.16
415  01/01/2021   0.13

[416 rows x 2 columns]

In [32]:
df = pd.read_json(
    path_or_buf='https://api.bcb.gov.br/dados/serie/bcdata.sgs.4390/dados?formato=json')
df

           data  valor
0    01/06/1986   1.27
1    01/07/1986   1.95
2    01/08/1986   2.57
3    01/09/1986   2.94
4    01/10/1986   1.96
..          ...    ...
411  01/09/2020   0.16
412  01/10/2020   0.16
413  01/11/2020   0.15
414  01/12/2020   0.16
415  01/01/2021   0.13

[416 rows x 2 columns]

## Primeiros Ajustes nos Dados

In [57]:
import numpy as np
df = pd.read_csv(
    filepath_or_buffer='dataset/bcb/selic.csv',
    sep=None,
    header=0,
    names=['a', 'b'])
df

              a     b
0    01/06/1986  1,27
1    01/07/1986  1,95
2    01/08/1986  2,57
3    01/09/1986  2,94
4    01/10/1986  1,96
..          ...   ...
411  01/09/2020  0,16
412  01/10/2020  0,16
413  01/11/2020  0,15
414  01/12/2020  0,16
415  01/01/2021  0,13

[416 rows x 2 columns]

In [58]:
df.dtypes

a    object
b    object
dtype: object

In [52]:
df['a'] = pd.to_datetime(df['a'])
df

             a     b
0   1986-01-06  1,27
1   1986-01-07  1,95
2   1986-01-08  2,57
3   1986-01-09  2,94
4   1986-01-10  1,96
..         ...   ...
411 2020-01-09  0,16
412 2020-01-10  0,16
413 2020-01-11  0,15
414 2020-01-12  0,16
415 2021-01-01  0,13

[416 rows x 2 columns]

In [53]:
df['b'] = df['b'].str.replace(',', '.')
df

             a     b
0   1986-01-06  1.27
1   1986-01-07  1.95
2   1986-01-08  2.57
3   1986-01-09  2.94
4   1986-01-10  1.96
..         ...   ...
411 2020-01-09  0.16
412 2020-01-10  0.16
413 2020-01-11  0.15
414 2020-01-12  0.16
415 2021-01-01  0.13

[416 rows x 2 columns]

In [55]:
df['b'] = pd.to_numeric(df['b'])
df

             a     b
0   1986-01-06  1.27
1   1986-01-07  1.95
2   1986-01-08  2.57
3   1986-01-09  2.94
4   1986-01-10  1.96
..         ...   ...
411 2020-01-09  0.16
412 2020-01-10  0.16
413 2020-01-11  0.15
414 2020-01-12  0.16
415 2021-01-01  0.13

[416 rows x 2 columns]